@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.ff {
  font-family: "Poppins", sans-serif;
}

#s-icon {
  background-color: rgba(255, 255, 255, 0.2);
  overflow: hidden;
}
#input-search {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-right: 20%;
}
#mic {
    width: 2.67rem;
    height: 2.67rem;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 0.5rem;
  cursor: pointer;
}
.bell{
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;


}
.online{
    width: 2.5rem;
    height: 2.5rem;
    animation: profile 1s infinite  ;
    border-radius: 50%;
    border: 1px solid green;
    cursor: pointer;

}
@keyframes profile {
    0%{
        box-shadow: 0px 0px 0px  #26dc02;
    }
    50%{
        box-shadow: 0px 0px 20px  #27d205;
    }
    100%{
        box-shadow: 0px 0px 0px  #26dc02;
    }
}

/* !btn design */
.ctg-top{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0.67rem 0rem;
  
}
.ct-btn{
    padding: .4rem 1rem ;
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.2);
    /* transition: all 100ms ease-in-out; */
}
.ct-btn:hover{
    background-color: rgba(255, 255, 255, 0.3);
}